.card {
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  width: 250px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.green {
  background: green;
}

.red {
  background: red;
}